.form {
  margin: 2rem;
}

.label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem;
  font-weight: bold;
}

.input {
  border: none;
  border-bottom: solid rgb(114, 10, 72);
  margin-top: 0.5rem;
}

.input:focus {
  border: none;
}

.error {
  color: red;
}
