.button {
  background-color: #b97ac6;
  border: none;
  color: white;
  padding: 0.7rem;
  text-align: center;
  font-size: 1rem;
  margin: 1.3rem;
  cursor: pointer;
  border-radius: 1rem;
}

.button:hover {
  background-color: rgb(114, 10, 72);
}
